* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.v-application {
  font-family: 'Roboto', sans-serif !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.ga-3 > * + * {
  margin-top: 12px;
}